.image-home {
  background: linear-gradient(
                     rgba(72,72,72, .7), 
                     rgba(72,72,72, .7)),
                     url("images/brandon-mowinkel-211936-unsplash-edited.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  overflow-y: hidden;
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox {
  height: 500px;
  width: 60%;
  justify-content: center;
  background: rgba(210, 215, 217, .6);
  position: relative;
  text-align: center;
}

.textbox ol {
  text-align: left;
}

.instruction-header {
  color: #0D3E5B;
}

.textbox p a {
  color: #0D3E5B;
}