.search-image {
  background: linear-gradient(
                     rgba(127, 132, 135, .7), 
                     rgba(127, 132, 135, .7)),
                     url("images/jomar-271602-unsplash-edited.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin: 10px 50px 15px 50px;
  padding: 10px 0;

}

.search-form-inputs {
  display: flex;
  flex-direction: row;
}

.center-button {
  display: block;
  margin: 0 auto;
  color: black;
  background-color: #51AC7E
}

.save-button.disabled {
  pointer-events: auto;
}

.center-button:hover {
  background-color: #81CAA5
}

.error {
  color: darkred;
}

.search-error {
  text-align: center;
}

.search-container {
  background: rgba(210, 215, 217, 0.5);
  padding: 10px;
  margin: 20px 0;
}

.input-field label {
  color: black !important;
}

.input-field underline {
  border-bottom: .3px solid #000 !important
}

.input-field input:focus + label {
  color: #1E5373 !important;
}

.input-field input:focus {
  border-bottom: .3px solid #1E5373 !important;
  box-shadow: 0 .3px 0 0 #000 !important;
}

.input-field input {
  border-bottom: .3px solid #000 !important;
  box-shadow: 0 .3px 0 0 #000 !important;
}

